<h1>All Loquor Articles</h1>

<% if flash[:error] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= flash[:error] %></strong>
  </div>
<% end %>

<% if flash[:success] %>
 <div class="alert alert-success">
   Article Successfully Posted!!!
 </div>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <p><strong><%= link_to article.hed, article %></strong></p>
      <p><em><%= article.dek %></em></p>
    </li>
  <% end %>
</ul>

